URxvt.loginShell: true
URxvt.skipBuiltinGlyphs:    true

URxvt.scrollBar: false

URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot

!URxvt.font: xft:Ricty:Regular:size=10:antialias=true
URxvt.font: xft:Dejavu Sans Mono:size=9,\
            xft:SauceCodePro Nerd Font Mono,\
            xft:Noto Color Emoji, \
            xft:Noto Sans Mono CJK JP,\
            xft:IPAGothic
URxvt.letterSpace: -1

URxvt.highlightColor:      lightsteelblue
URxvt.highlightTextColor:  #2d2d2d

!black  0=htop colors dedede
URxvt.depth:       32
URxvt.color0:      [100]#282828
URxvt.color1:      [100]#cc241d
URxvt.color2:      [100]#98971a
URxvt.color3:      [100]#d79921
URxvt.color4:      [100]#458588
URxvt.color5:      [100]#b16286
URxvt.color6:      [100]#689d6a
URxvt.color7:      [100]#a89984
URxvt.color8:      [100]#928374
URxvt.color9:      [100]#fb4934
URxvt.color10:     [100]#b8bb26
URxvt.color11:     [100]#fabd2f
URxvt.color12:     [100]#83a598
URxvt.color13:     [100]#d3869b
URxvt.color14:     [100]#8ec07c
URxvt.color15:     [100]#ebdbb2
URxvt.foreground:  [100]#ebdbb2
URxvt.background:  [90]#282828
!URxvt.background:  [100]#282828
URxvt.colorIT:     [100]#8ec07c
URxvt.colorBD:     [100]#fe8019
URxvt.colorUL:     [100]#83a598
URxvt.scrollColor: [100]#804945
!URxvt.troughColor: [100]#3C3836

URxvt.tabbed.tabbar-fg:   244
URxvt.tabbed.tabbar-bg:   16
URxvt.tabbed.tab-fg:      255
URxvt.tabbed.tab-bg:      52
URxvt.tabbed.bell-tab-fg: 255
URxvt.tabbed.bell-tab-bg: 160
URxvt.tabbed.bell-fg:     244
URxvt.tabbed.bell-bg:     17
URxvt.tabbed.title-fg:    28
URxvt.tabbed.title-bg:    16

Xcursor.size: 16

URxvt.perl-ext-common: resize-font
URxvt.resize-font.step: 1
